trunk/Aerolinea/xml Schema/SchemaReservas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="RESERVAS">
<xs:complexType>
<xs:sequence>
	<xs:element name="RESERVA" maxOccurs="unbounded">
		<xs:complexType>
		<xs:sequence>
		<xs:element name="ID_RESERVA" type="xs:integer"/>
		<xs:element name="ID_VUELO" type="xs:integer"/>
		<xs:element name="ID_CLIENTE" type="xs:integer"/>
		<xs:element name="FECHA" type="xs:date"/>
		<xs:element name="FECHA_CADUCACION" type="xs:date"/>
		<xs:element name="STATUS" type="xs:string"/>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>