trunk/Aerolinea/xml Schema/SchemaVuelos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="VUELOS">
<xs:complexType>
<xs:sequence>
	<xs:element name="VUELO" maxOccurs="unbounded">
		<xs:complexType>
		<xs:sequence>
		<xs:element name="ID_VUELO" type="xs:integer"/>
		<xs:element name="ID_AVION" type="xs:integer"/>
		<xs:element name="ORIGEN" type="xs:integer"/>
		<xs:element name="DESTINO" type="xs:integer"/>
		<xs:element name="FECHA" type="xs:date"/>
		<xs:element name="HORA" type="xs:time"/>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>