trunk/Aerolinea/xml Schema/SchemaAviones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AVIONES">
<xs:complexType>
	<xs:sequence>
		<xs:element name="AVION" maxOccurs="unbounded">
			<xs:complexType>
				<xs:sequence>
				<xs:element name="ID_AVION" type="xs:integer"/>
				<xs:element name="MARCA" type="xs:string"/>
				<xs:element name="MODELO" type="xs:string"/>
				<xs:element name="CAPACIDAD" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>