trunk/Aerolinea/xml Schema/SchemaCompras.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="COMPRAS">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="COMPRA" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
					<xs:element name="ID_OFICINA" type="xs:integer"/>
					<xs:element name="ID_CLIENTE" type="xs:integer"/>
					<xs:element name="ID_VUELO" type="xs:integer"/>
					<xs:element name="FECHA" type="xs:date"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>